<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <title>Home Page</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__menu-container">
        <div class="header__cut">
          <div class="header__menu menu">
            <div class="menu__top">
              <a href="#" class="menu__link"><img src="../images/profile.svg" alt=""></a>
              <a href="#" class="menu__link"><img src="../images/home.svg" alt=""></a>
              <a href="#" class="menu__link"><img src="../images/mail.svg" alt=""></a>
            </div>
            <div class="menu__bottom">
              <a href="#" class="menu__link"><img src="../images/power.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
    </header>
    <main class="main">
      <div class="main__top-sluz"></div>
      <div class="main__body">
        <div class="main__filter filter">
          <div class="filter__last">
            <div class="filter__word">lasts</div>
            <div class="filter__img">
              <img src="../images/clock.svg" alt="clock">
            </div>
          </div>
          <div class="filter__views">
            <div class="filter__word">most views</div>
            <div class="filter__img">
              <img src="../images/eye.svg" alt="eye">
            </div>
          </div>
          <div class="filter__popular">
            <div class="filter__word">top</div>
            <div class="filter__img">
              <img src="../images/star.svg" alt="star">
            </div>
          </div>
        </div>
        <div class="main__post">
          <div class="post__top">
            <div class="post__person-info">
              <div class="post__profile-img">
                <img src="../images/profile.svg" alt="Dovran">
              </div>
              <div class="post__username">Dovran</div>
            </div>
            <div class="post__about">
              <div class="post__title">This is some post title</div>
              <div class="post__subtitle">bla bla bla...</div>
            </div>
          </div>
          <div class="post__bottom">
            <div class="post__like">
              <div class="post__btn-img">
                <img src="../images/white-like.svg" alt="white-heart">
              </div>
              <div class="post__amount">0</div>
            </div>
            <div class="post__views">
              <div class="post__btn-img">
                <img src="../images/eye.svg" alt="eye">
              </div>
              <div class="post__amount">0</div>
            </div>
            <div class="post__share">
              <div class="post__btn-img">
                <img src="../images/share.svg" alt="share">
              </div>
            </div>
          </div>
        </div>
        <div class="main__post">
          <div class="post__top">
            <div class="post__person-info">
              <div class="post__profile-img">
                <img src="../images/profile.svg" alt="Dovran">
              </div>
              <div class="post__username">Dovran</div>
            </div>
            <div class="post__about">
              <div class="post__title">This is some post title</div>
              <div class="post__subtitle">bla bla bla bla bla bla...</div>
            </div>
          </div>
          <div class="post__bottom">
            <div class="post__like">
              <div class="post__btn-img">
                <img src="../images/white-like.svg" alt="white-heart">
              </div>
              <div class="post__amount">0</div>
            </div>
            <div class="post__views">
              <div class="post__btn-img">
                <img src="../images/eye.svg" alt="eye">
              </div>
              <div class="post__amount">0</div>
            </div>
            <div class="post__share">
              <div class="post__btn-img">
                <img src="../images/share.svg" alt="share">
              </div>
            </div>
          </div>
        </div>
        <div class="main__post">
          <div class="post__top">
            <div class="post__person-info">
              <div class="post__profile-img">
                <img src="../images/profile.svg" alt="Dovran">
              </div>
              <div class="post__username">Dovran</div>
            </div>
            <div class="post__about">
              <div class="post__title">This is some post title</div>
              <div class="post__subtitle">bla bla bla bla bla bla...</div>
            </div>
          </div>
          <div class="post__bottom">
            <div class="post__like">
              <div class="post__btn-img">
                <img src="../images/white-like.svg" alt="white-heart">
              </div>
              <div class="post__amount">0</div>
            </div>
            <div class="post__views">
              <div class="post__btn-img">
                <img src="../images/eye.svg" alt="eye">
              </div>
              <div class="post__amount">0</div>
            </div>
            <div class="post__share">
              <div class="post__btn-img">
                <img src="../images/share.svg" alt="share">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main__bottom-sluz"></div>
    </main>
  </div>

  <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>
