<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <title>Authorization</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__menu-container">
        <div class="header__cut">
          <div class="header__menu menu">
            <div class="menu__top">
              <a href="#" class="menu__link"><img src="../images/profile.svg" alt=""></a>
              <a href="#" class="menu__link"><img src="../images/home.svg" alt=""></a>
              <a href="#" class="menu__link"><img src="../images/mail.svg" alt=""></a>
            </div>
            <div class="menu__bottom">
              <a href="#" class="menu__link"><img src="../images/power.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
    </header>
    <div class="auth">
      <form action="" class="auth__form form">
        <div class="form__title">REGISTRATION</div>
        <input type="text" name="username" placeholder="Username..." class="form__input">
        <input type="password" name="password" placeholder="New password..." class="form__input">
        <input type="password" name="con_password" placeholder="Confirm new password..." class="form__input">
        <div class="form__buttons">
          <button type="reset" class="form__button">CLEAR</button>
          <button type="submit" class="form__button">SAVE</button>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>
